{% extends "layout.jinja" %}
{% block content %}
    {% for i in items %}
        <div class="item border">
            <img src="data:;base64,{{i.img_small}}" alt="{{i.model}} Keyboard">
        </div>
    {% endfor %}
{% endblock content %}