{% from "macros/form_helper.jinja" import render_form %}
{% extends "layout.jinja" %}
{% block content %}
    {{ render_form(keyboard_form, class="content-section", classes={"brand": "ssk"}) }}
{% endblock content %}