{% extends "layout.jinja" %}
{% block sidebar %}
    <p class='text-muted'>A list of fancy keyboards</p>
    <li class="list-group-item list-group-item-light">Vintage</li>
    <li class="list-group-item list-group-item-light">Customs</li>
    <li class="list-group-item list-group-item-light">OEM</li>
{% endblock sidebar %}
{% block content %}
    <div class="content-section">
        <a class="mr-2" href="#">{{ item.brand }}</a><small>{{ item.model }}</small>
        <hr class="divider"/>
        <h2><a class="article-title" href="#">{{ item.name }}</a></h2>
        <p>{{ item.name }}</p>
        <img src="{{ url_for('static', filename='images/item/' ~ item.id ~ '.jpg') }}">
    </div>
{% endblock content %}