{% extends "layout.jinja" %}
{% block sidebar %}
    <p class='text-muted'>A list of fancy keyboards</p>
    <a class="list-group-item list-group-item-light">Vintage</a>
    <a class="list-group-item list-group-item-light">Customs</a>
    <a class="list-group-item list-group-item-light">OEM</a>
{% endblock sidebar %}
{% block content %}
    <div class="content-section">
        <a class="mr-2" href="#">{{ item.brand }}</a><small>{{ item.model }}</small>
        <hr class="divider"/>
        <h2><a class="article-title" href="#">{{ item.name }}</a></h2>
        <p>{{ item.name }}</p>
        <img src="data:;base64,{{item.img_large}}" alt="{{item.model}} Keyboard">
        <a href="{{ url_for('update', item_id=item.id) }}">Update</a>
        {{ render_form(cart_form) }}
    </div>
{% endblock content %}