{% extends "layout.jinja" %}
{% block sidebar %}
    <p class='text-muted'>A list of fancy keyboards</p>
    <li class="list-group-item list-group-item-light">Vintage</li>
    <li class="list-group-item list-group-item-light">Customs</li>
    <li class="list-group-item list-group-item-light">OEM</li>
{% endblock sidebar %}
{% block content %}
    {% for k in keyboards %}
        <div class="content-section">
            <a class="mr-2" href="#">{{ k.brand }}</a><small>{{ k.model }}</small>
            <hr class="divider"/>
            <h2><a class="article-title" href="#">{{ k.name }}</a></h2>
            <p>{{ k.name }}</p>
        </div>
    {% endfor %}
{% endblock content %}