{% from "macros/form_helper.jinja" import render_form %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <title>{% if title %} Keebs - {{title}} {% else %} Keebs {% endif %}</title>
</head>
<body>
    <nav>
        <div id="nav-container">
            <div>
                <a class="navbar-brand" href="{{ url_for('index') }}">Keebs</a>
            </div>
            <div>
                <a class="navbar-main" href="{{ url_for('inventory') }}">Inventory</a>
                <a class="navbar-main" href="{{ url_for('gallery') }}">Gallery</a>
                <a class="navbar-main" href="{{ url_for('about') }}">About</a>
                {{ render_form(search_form, class="navbar-right", classes={"input": "search-input"}) }}
                <a class="navbar-right" href="{{ url_for('insert') }}">Insert</a>
                <a class="navbar-right" href="{{ url_for('cart') }}">Cart</a>
            </div>
        </div>
    </nav>
    <div id="container">
        <div id="sidebar" class="border">
            <h3>The Sidebar</h3>
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
        <div id="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>